# Dashboard Interactivo de Resultados SIMCE

![](https://storage.googleapis.com/coderzcolumn/static/tutorials/data_science/streamlit_dashboard.gif)

En el rol de **Consultor de Ciencia de Datos**, se nos ha encomendado la tarea fundamental de desarrollar una **maqueta de Dashboard interactivo** utilizando la plataforma **Streamlit**. El objetivo principal de este dashboard es ofrecer una **visualización clara y dinámica de los resultados parciales de la prueba SIMCE para cuartos básicos** en Chile, permitiendo una exploración detallada de estos indicadores educativos.

Este proyecto tiene como fin proporcionar una herramienta accesible para analizar el rendimiento educativo a nivel regional, provincial y comunal, facilitando la identificación de patrones y tendencias.

### Estructura del Dashboard:

La maqueta del dashboard se estructurará en dos componentes principales para una óptima experiencia de usuario:

1. `Panel Lateral de Navegación (Sidebar)`:


   Este panel será el centro de control para la interacción del usuario, permitiendo filtrar y explorar los datos del SIMCE a distintos niveles geográficos y por asignatura. Contendrá los siguientes widgets:

    - **Selectbox de Región**: Permitirá al usuario seleccionar una de las regiones administrativas de Chile.

    - **Selectbox de Provincia**: Este widget se actualizará dinámicamente, mostrando solo las provincias que pertenecen a la región previamente seleccionada.

    - **Selectbox de Comuna**: De forma similar, este selectbox filtrará y presentará únicamente las comunas que corresponden a la provincia elegida.

    - **Radio Button Lenguaje**: Permitirá seleccionar los resultados correspondientes a la prueba de Lenguaje.

    - **Radio Button Matemáticas**: Permitirá seleccionar los resultados correspondientes a la prueba de Matemáticas.

2. `Panel Central de Visualización`:


   Este panel presentará los datos filtrados de manera gráfica y resumida, ofreciendo una visión inmediata del rendimiento del SIMCE. Estará compuesto por:

   - **Un Gráfico Principal**: Diseñado para visualizar las tendencias o comparaciones de los puntajes SIMCE según los filtros aplicados.

    - **Tarjetas Estadísticas (KPIs)**: Contendrán métricas clave (como puntaje máximo, mínimo, año puntaje, comuna, tanto para lenguaje como matemáticas) que proporcionarán un resumen rápido y comprensible de los datos seleccionados.

Este dashboard interactivo será una demostración de cómo el análisis de datos y las herramientas de visualización pueden transformar conjuntos de datos complejos en información accionable, facilitando la comprensión del panorama educativo.

![](https://raw.githubusercontent.com/lgarridocornejo/uahc_python/refs/heads/main/pruebas/dashboard.png)

## Objetivos

- Realizar un correcto análisis y tratamiento de los datos, el cuál permitirá preparar y limpiar los datos de la forma más adecuada.
- Crear repositorio en GitHub, para almacenar el jupyter notebook con el EDA, y el Dashboard
- Implementar correctamente el Dashboard en Streamlit

## Criterio de evaluación

<table>
  <thead>
    <tr>
      <th>Criterio</th>
      <th>Destacado (5 pts)</th>
      <th>Competente (3 pts)</th>
      <th>Básico (1 pto)</th>
      <th>Insatisfactorio (0 pts)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>EDA jupyter Notebook</td>
      <td>
        <li>Describe con claridad el número de filas y columnas.</li>
        <li>Nombra e indica el tipo de dato de todas las columnas.</li>
        <li>Indica el % de completitud y justifica claramente la imputación de datos.</li>
        <li>El análisis estadístico es profundo y pertinente.</li>
      </td>
      <td>Se entrega la mayoría de los elementos solicitados.
        <li>estructura</li>
        <li>tipo de datos</li>
        <li>completitud e imputación</li>
        <li>análisis estadístico es correcto pero no muy profundo</li>
      </td>
      <td>
        <li>Faltan varios elementos del EDA o están incorrectos.</li> 
        <li>El análisis estadístico es superficial o limitado.</li>
      </td>
      <td>
        <li>El notebook carece de información clave del EDA.</li> 
        <li>No hay análisis estadístico o está mal ejecutado.</li>
      </td>
    </tr>
    <tr>
      <td>Proceso (inicio.py)</td>
      <td>El script está completo, bien estructurado y comentado. 
        <li>Importa librerías</li>
        <li>Carga el CSVs</li>
        <li>Crea barra lateral funcional</li>
        <li>Muestra contenido central claro y coherente, comparando datos comunales con promedio general.</li>
      </td>
      <td>
          <li>El script contiene los elementos requeridos.</li> 
          <li>Algunas secciones están poco comentadas o podrían estar mejor estructuradas.</li> 
          <li>No comapara con el promedio general.</li>
      </td>
      <td>
        <li>El script está incompleto o desordenado.</li> 
        <li>La barra lateral o contenido central presenta errores.</li>
      </td>
      <td>El script no funciona o tiene errores graves. Faltan elementos clave como carga de datos o visualización.</td>
    </tr>
    <tr>
      <td>GitHub</td>
      <td>El repositorio en GitHub bien organizado, uso correcto de nombres de archivos que incluye: 
        <li>Jupiter notebook, 
        <li>inicio.py, 
        <li>README.md: Redacción formal y ordenada.
          <ul>
            <li>título claro</li>
            <li>descripción precisa</li>
            <li>link funcional al dashboard, </li>
            <li>nombres y GitHub de integrantes.   </li>
          </ul>
        <li>requirement.txt, que incluye lista precisa y minima de todas las librerías con versiones exactas , garantizando la reproducibilidad.</li></td>
      <td>Faltan uno o dos elementos menores 
        <li>README.md, contiene casi todos los elementos, aunque con redacción o formato mejorables. Link puede estar ausente o mal insertado</li>
        <li>requirement.txt, incluye lista de casi todas las librerias usadas</li>
      </td>
      <td>
        <li>Varios archivos clave ausentes o desordenados.</li> 
        <li>README.md poco claro. Faltan varios elementos o están mal explicados. El link no funciona. </li>
        <li>requirement.txt Incompleto, faltan librerias o incluye innecesarias.</li>
      </td>
      <td>
        <li>El repositorio está incompleto, vacío o con archivos incorrectos.</li> 
        <li>No incluye README o es irrelevante para el proyecto.</li> 
        <li>Requirement.txt Incompleto, no existe o esta vacío.</li>
      </td>
    </tr>
      <tr>
      <td>Streamlit</td>
      <td>
        <li>Cuenta creada y configurada de forma impecable.</li>
        <li>Nombre creativo, conciso y perfectamente alineado con el contenido y proposito del Dashboard. </li>
        <li>Dashboard despliega sin problemas, accesible, funciona optimamente, reprositorio y rama perfectamente configurados.</li>
      </td>
      <td>
        <li>El equipo crea una cuenta en Streamlit. </li>
        <li>Nombre coherente con el contenido del Dashboard. </li>
        <li>Dashboard despliega y es accesible, puede tener errores menores o rendimiento no óptimo, configuración correcta.</li>
      </td>
      <td>
        <li>La cuenta existe pereo presenta problemas menores de configuración. </li>
        <li>Nombre genérico o poco descriptivo. 
        <li>Problemas al desplegarse, inaccesible o errores frecuente. Configuració con errores menores.</li>
      </td>
      <td>
        <li>No hay cuenta de Streamlit o no se puede acceder.</li>
        <li>Nombre irrelebante o confuso. </li>
        <li>Configuración erronea.</li>
      </td>
    </tr>
  </tbody>
</table>

## Proyecto: Dashboard, Simce cuarto básico
Regiones para analizar:
- arica y parinacota
- antofagasta
- valparaíso
- ñuble
- los lagos
- metropolitana

---

[![Descargar](https://badgen.net/badge/dataset_simce/descargar/red)](https://drive.google.com/file/d/1hlYAGrD4iBWyNRzS8ORyc92UXDB4GB5p/view?usp=sharing)

[![Descargar](https://badgen.net/badge/dataset_promedio_general/descargar/red)](https://drive.google.com/file/d/187HQC04DxfvycyUhLknyLe2XiQkZBkjc/view?usp=sharing)

In [5]:
import pandas as pd

In [30]:
df_simce = pd.read_csv("simce.csv", encoding="windows-1252")

In [31]:
df_simce

,agno,region,provincia,comuna,lenguaje,matematicas
0,1999,aysén del general carlos ibáñez del campo,aysén,aysén,248.0,244.0
1,1999,valparaiso,san antonio,algarrobo,234.0,238.0
2,1999,metropolitana,melipilla,alhué,240.0,248.0
3,1999,atacama,huasco,alto del carmen,252.0,267.0
4,1999,los lagos,chiloé,ancud,252.0,251.0
...,...,...,...,...,...,...
6502,2024,ñuble,diguillín,san ignacio,270.0,261.0
6503,2024,ñuble,diguillín,yungay,267.0,251.0
6504,2024,ñuble,itata,quirihue,284.0,266.0
6505,2024,ñuble,itata,cobquecura,255.0,263.0
6506,2024,ñuble,itata,coelemu,279.0,268.0

In [32]:
df_promedio = pd.read_csv("promedio.csv")

In [33]:
df_promedio

    agno    lenguaje  matematicas
0   1999  241.393393   242.294294
1   2002  244.264881   239.907738
2   2005  248.119883   239.336257
3   2006  248.970845   239.037901
4   2007  249.809524   237.877976
5   2008  256.035398   238.976401
6   2009  256.379009   244.227405
7   2010  265.674419   244.561047
8   2011  263.497093   252.604651
9   2012  249.552023   251.953757
10  2013  259.819242   250.052478
11  2014  259.771014   249.501449
12  2015  261.695652   253.269565
13  2016  262.365217   254.205797
14  2017  264.173913   253.440580
15  2018  264.788406   251.614493
16  2022  261.298551   243.579710
17  2023  264.997093   251.017442
18  2024  272.944767   259.197674

# Filas y columnas de los data frames

In [34]:
print(f"Filas de df_simce: {df_simce.shape[0]} \ncolumnas de df_simce: {df_simce.shape[1]}")

Filas de df_simce: 6507
columnas de df_simce: 6

In [35]:
print(f"Filas de df_promedio: {df_promedio.shape[0]} \ncolumnas de df_promedio: {df_promedio.shape[1]}")

Filas de df_promedio: 19
columnas de df_promedio: 3

# Tipo de datos de los dataframes

In [36]:
df_simce.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6507 entries, 0 to 6506
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   agno         6507 non-null   int64
 1   region       6507 non-null   object
 2   provincia    6507 non-null   object
 3   comuna       6507 non-null   object
 4   lenguaje     6507 non-null   float64
 5   matematicas  6507 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 305.1+ KB

In [37]:
df_promedio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   agno         19 non-null     int64
 1   lenguaje     19 non-null     float64
 2   matematicas  19 non-null     float64
dtypes: float64(2), int64(1)
memory usage: 588.0 bytes

# Completitud/Imputacion

In [38]:
#Funcion que se ocupara para calcular la completitud del dataframe
def calcular_completitud(df):
    completitud = pd.DataFrame(df.isnull().sum()).reset_index()
    completitud = completitud.rename(columns={"index": "columna", 0: "faltantes"})
    completitud["completitud"] = (1 - completitud["faltantes"] / df.shape[0]) * 100
    completitud = completitud.sort_values(by="completitud", ascending=True)
    completitud.reset_index(drop=True, inplace=True)
    return completitud

In [39]:
completitud_promedio = calcular_completitud(df_promedio)
completitud_promedio

       columna  faltantes  completitud
0         agno          0        100.0
1     lenguaje          0        100.0
2  matematicas          0        100.0

No es necesario imputar los datos en df_promedio porque la completitud es del 100%

In [40]:
completitud_simce = calcular_completitud(df_simce)
completitud_simce

       columna  faltantes  completitud
0         agno          0        100.0
1       region          0        100.0
2    provincia          0        100.0
3       comuna          0        100.0
4     lenguaje          0        100.0
5  matematicas          0        100.0

No es necesario imputar los datos en df_simce porque la completitud es del 100%

# Analisis estadistico

In [41]:
df_promedio.describe()

              agno    lenguaje  matematicas
count    19.000000   19.000000    19.000000
mean   2012.157895  257.660543   247.192454
std       6.930313    8.439275     6.486084
min    1999.000000  241.393393   237.877976
25%    2007.500000  249.680773   241.101016
50%    2012.000000  259.819242   249.501449
75%    2016.500000  263.835503   252.279204
max    2024.000000  272.944767   259.197674

In [42]:
df_simce.describe(include="all")

               agno         region provincia comuna     lenguaje  matematicas
count   6507.000000           6507      6507   6507  6507.000000  6507.000000
unique          NaN             17        58    347          NaN          NaN
top             NaN  metropolitana  santiago  aysén          NaN          NaN
freq            NaN            988       608     19          NaN          NaN
mean    2012.210081            NaN       NaN    NaN   257.721377   247.236053
std        6.726621            NaN       NaN    NaN    16.262184    16.662752
min     1999.000000            NaN       NaN    NaN     0.000000     0.000000
25%     2007.000000            NaN       NaN    NaN   249.000000   237.000000
50%     2012.000000            NaN       NaN    NaN   259.000000   247.000000
75%     2017.000000            NaN       NaN    NaN   267.000000   257.000000
max     2024.000000            NaN       NaN    NaN   333.000000   309.000000